.bg-image-index {
    background-image: url("../assets/bg-images/istockphoto-1257253274-612x612.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    background-color: hsla(200, 100%, 3%, 0.589);
}